{% extends "base.html.twig" %}

{% block title %}Administration{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% include "partials/_adminnav.html.twig" %}
            <main class="col-9 border border-light bg-white p-2">
                <h1>Liste des catégories</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Parent</th>
                            <th>Images</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for categorie in categories %}
                            <tr>
                                <td>{{ categorie.id }}</td>
                                <td>{{ categorie.name }}</td>
                                <td>
                                    {% if categorie.parent is not null %}
                                        {{ categorie.parent.name }}</td>
                                    {% endif %}
                                </td>
                                <td>
                                    <img src="{{ asset('assets/images/categories/mini/300x300-' ~ categorie.image) }}" alt="{{ categorie.name }}" width="200px">
                                </td>
                                <td>
                                    <a  class="btn btn-warning" href="{{ path('admin_categories_edit', {id: categorie.id}) }}">Modifier</a>
                                    <a  class="btn btn-danger" href="{{ path('admin_categories_delete', {id: categorie.id}) }}">Supprimer</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </main>
        </div>
    </div>
{% endblock %}